*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: relative;
    background-image: url("./img/mountain.jpg");
    background-size: cover;
}

/* VIDEO */
/* .video-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -10;
}
.video-container video {
    width: 100%;
} */

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
} 

/* TITLE */
.title {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.title h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
}
.title p {
    font-size: 2rem;
}

/* MAIN CONTAINER */
.main-container {
    display: flex;
}

.sound-picker {
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
}

/* Player-container */
.player-container {     
    position: relative;                   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
}

.player-container svg {
    position: absolute;
    height: 13rem;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%) rotate(-90deg);
    pointer-events: none;
}

.play-btn {
    position: absolute;
    left: 55%;
    transform: translate(-50%);
    width: 4.5%;
    cursor: pointer;
}

.time-display {
    position: absolute;
    left: 55%;
    bottom: -6rem;
    transform: translate(-50%, -50%);
    font-size: 4rem;
} 

/* Time Select  */
.time-duration {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.time-duration button {
    width: 7rem;
    height: 7rem;
    background-color:  transparent;
}

.time-duration button:not(:last-child) {
    margin-right: 1rem;
}

.time-duration button:hover {
    color: black;
    background-color: white;
}

.time-duration button,
.sound-picker button {
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
    transition: all .5s ease;
}

/* Sound Picker */
.sound-picker button {
    border: none;
    width: 8rem;
    height: 8rem;
    padding: 2rem;
}

.sound-picker button:nth-child(1) {
    background-color: #4972a1;
}
.sound-picker button:nth-child(2) {
    background-color: #a14f49;
} 
.sound-picker button:nth-child(3) {
    background-color: #587850;
}

.sound-picker button svg {
    fill: white;
    width: 4rem;
    height: 4rem;
}
